#imgSlides {
    height: 400px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.img {
    background-size: cover;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 600px;
    height: 390px;
    z-index: 1;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.img:nth-of-type(1) {
    background-image: url("./img/1.jpg");
}

.img:nth-of-type(2) {
    background-image: url("./img/2.jpg");
}

.img:nth-of-type(3) {
    background-image: url("./img/3.JPG");
}

.img:nth-of-type(4) {
    background-image: url("./img/4.png");
}
